<div class="rules-content-container">
  <h1 class="rules-header">Pravidla</h1>
  <div class="rules-wrapper">
    <div class="rules-left-container rules-container">
      <mat-card class="card-container">
        <mat-card-header>
          <mat-card-title>Na začátek</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="card-text">
            Tento program je dynamický. Organizátoři, a jak brzy zjistíš, nejen
            oni, mohou a nemusí měnit pravidla v průběhu. Doporučujeme k
            programu přistupovat vážně a věci nepodceňovat. Rozhodně není dobré
            spoléhat na to, že se o tebe "někdo" postará. <br /><br />Program je
            dobrovolný, ale pokud se ho odmítneš účastnit, pravděpodobně tě
            nevezmeme na akci. Vhodný okamžik pro rozhodnutí je právě nyní po
            přečtení pravidel a úkolů. <br /><br />Každý je sám za sebe, stejně
            jako v životě. Ovšem stejně jako v životě se vyplatí mít okolo sebe
            lidi, na které se můžeš spolehnout a kteří ti pomůžou. Ne vždy to
            musí být právě ti, které znáš nejlépe.
          </p>
        </mat-card-content>
        <mat-card-footer> </mat-card-footer>
      </mat-card>
      <mat-card class="card-container">
        <mat-card-header>
          <mat-card-title>Dost "kecu"! O co jde?</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="card-text">
            Jde o tvůj čas, o nic víc a o nic míň. Jsi ve světě In Time. Čas na
            tvém účtu se každou uběhlou sekundou zmenšuje. Máš 4,5 h do začátku
            a když nic neuděláš, v 10:30 ti čas dojde. Pokud se tak stane, je to
            stejné jako v životě. Končíš. Nemůžeš pokračovat v programu In Time.
            Nejde jen o In Time, prostě se nedostaneš na akci. Proto doteď
            neznáš místo ani čas odjezdu, pozici objektu, ani jakou část z celé
            akce In Time tvoří. A tak to ještě nějakou dobu zůstane. Jedno je
            ale jisté. Vyplatí se počítat s tím, že času potřebuješ dost
            <span class="bold-text">na celou akci</span> (včetně spánku). Čas
            bude možné získávat během celého In Time. Někdy ale mohou být období
            hojnosti a jindy období půstu. Doporučujeme si tedy zajistit dost
            času na spánek i na dny, kdy čas získávat nepůjde.
          </p>
          <mat-divider></mat-divider>
          <p class="card-text">
            In Time není jen o čase, je o všem. <br />
            <span class="bold-text">Je jen na tobě, co se svým časem</span>
            uděláš.
          </p>
        </mat-card-content>
        <mat-card-footer> </mat-card-footer>
      </mat-card>
      <mat-card class="card-container">
        <mat-card-header>
          <mat-card-title>Jak čas získám?</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="card-text">
            Čas získáš, když ty nebo tvůj tým splní úkol. Případně, když ti ho
            někdo daruje. Úkoly můžeš najít na stránce
            <span class="router-link" [routerLink]="'/' + routesPaths.Tasks"
              >Úkoly</span
            >. Většinou je přesně definováno, kdo čas získá. A také přesně ta
            daná osoba musí získaný čas do systému přes svůj účet zapsat, pokud
            není řečeno jinak. kdy čas získávat nepůjde. <br /><br />
            Počítej i s variantou, že se žádné nové úkoly neobjeví hodiny i dny.
            Naopak některé úkoly budou po vymezené době mizet
          </p>
        </mat-card-content>
        <mat-card-footer> </mat-card-footer>
      </mat-card>
      <mat-card class="card-container">
        <mat-card-header>
          <mat-card-title>Jak získaný čas dostanu do systému?</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="card-text">
            Po splnění úkolu najedeš na stránku
            <span class="router-link" [routerLink]="'/' + routesPaths.Logs"
              >Logy</span
            >. Vyplníš vše potřebné a odešleš. Zadání získaného času do systému
            zbytečně nezdržuj. <br /><br />

            Nemáš-li vlastní mobil s internetem a powerbanku, doporučujeme ti
            dohodnout se s někým, komu věříš a oboje má k dispozici. Této osobě
            lze svěřit své přihlašovací údaje, to zakázané není. Avšak případné
            zneužití je problém vás dvou, v světě In Time hraje každý primárně
            na sebe.
            <br /><br />

            Proč píšeme o svěření přihlašovacích údajů, když můžeš čas jednoduše
            připsat či darovat někomu jinému? Protože když ho připisuješ sobě,
            dostaneš jiné množství času, než dostane tým nebo někdo jiný. Stejně
            tak je to i u daru. Tyto poměry se mohou v průběhu hry měnit!
            <br /><br />

            Doporučujeme sledovat aktuální informace v popisu při zadávání. Je
            to In Time, neočekávej, že tě o změně budeme informovat.
            <br /><br />

            Pokud nemáš přístup k internetu ani žádnou osobu, na kterou by ses v
            dané transakci chtěl spoléhat, je tu nouzová možnost. Můžeš poslat
            organizátorům komunikační SMS. Tvoje telefonní číslo musí být
            nejdříve do "systému" přihlášeno. Formát SMS včetně přihlášení do
            "systému" je definován v části komunikace s organizátory pomoci SMS.
            Organizátoři to zapíší do systému až se jim to bude hodit.
            Neočekávej okamžitý zápis těsně před vypršením tvého času. Pokud ti
            mezi tím čas dojde, jednoduše došel. Ostatně je to svět In Time.
            <br /><br />
            Pokud nemáš ani mobilní telefon - ano, možná tu takoví jsou nebo
            budou - nezbývá ti, než přesvědčit jiného účastníka, aby ti tvůj
            získaný čas zapisoval.
            <br /><br />
          </p>
        </mat-card-content>
        <mat-card-footer> </mat-card-footer>
      </mat-card>
      <mat-card class="card-container">
        <mat-card-header>
          <mat-card-title>Jak kontrolovat sebe a ostatní?</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="card-text">
            Všechny zadané časové transakce můžeš zkontrolovat na stránce LOGY.
            Transakce jsou řazeny od nejnovější po nejstarší. Pokud se ti něco
            nebude zdát, klidně od ostatních žádej vysvětlení, za co byla daná
            transakce provedena. Stejně tak mohou ostatní toto vysvětlení žádat
            po tobě. <br />
            Pokud si chceš vyzkoušet, jak systém funguje, můžeš zaznamenat úkol
            a vyplnit nulu do kolonky času.
          </p>
        </mat-card-content>
        <mat-card-footer> </mat-card-footer>
      </mat-card>
      <mat-card class="card-container">
        <mat-card-header>
          <mat-card-title
            >K čemu slouží jednotlivé položky při zadávání času do
            systému?</mat-card-title
          >
        </mat-card-header>
        <mat-card-content>
          <div class="sub-header">Svědek</div>
          <p class="card-text">
            Ten, kdo je schopný dosvědčit, že daný čas připisuješ dle pravidel
            či dohod mezi účastníky In Time (dohody nesmí porušovat pravidla).
            Pokud u dané události nikdo není, jsi si sám nebo sama sobě svědkem.
          </p>
          <div class="sub-header">Popis</div>
          <p class="card-text">
            Toto pole by mělo vysvětlovat, za co byl daný čas získán. Zápis by
            měl být stručný, ale hlavně takový, aby byl všem jasný.
          </p></mat-card-content
        >

        <mat-card-footer> </mat-card-footer>
      </mat-card>
      <mat-card class="card-container">
        <mat-card-header>
          <mat-card-title
            >Technický či jiný problém se systémem?</mat-card-title
          >
        </mat-card-header>
        <mat-card-content>
          <p class="card-text">
            Snažíme se, aby vše maximálně fungovalo a na tebe už zbylo jen si
            akci užívat. Pokud se i přesto do našeho poměrně složitého systému
            vloudil nějaký šotek, a to se může stát, informuj nás prosím. Viz.
            např. komunikace s organizátory pomocí SMS. Pokud vzniknou nějaké
            zbytečné škody, budeme se je snažit férově, podle našeho nejlepšího
            vědomí a svědomí, napravit. Ovšem, ne vždy to jde. Prosíme tedy o
            shovívavost.
            <br /><br />

            Pokud nastanou technické problémy typu "na tomto jednom zařízení mi
            to nefunguje" nebo "mám špatný signál" či se bude jednat o jiný
            technický problém, který pozměňuje pravidla a možnosti pro všechny
            stejně (tedy je v podstatě spravedlivý), pokusíme se ho v rámci
            možností napravit. Nebudeme ale podnikat žádné další akce (např.
            připisování času jako kompenzaci škod).
            <br /><br />

            Bude-li se někdo snažit systém technicky obejít, "nahackovat" či
            jinak záměrně zneužít či využít ve svůj prospěch, budou organizátoři
            nemilosrdní. Toto není součástí světa In Time. Prosíme, nedělejte
            to.
            <br /><br />

            Využití díry v pravidlech ve svůj prospěch se nepočítá. Pokud máš
            pochybnosti, zda se nejedná o chybu, odkazujeme na sekci komunikace
            s organizátory pomocí SMS.
          </p>
        </mat-card-content>
        <mat-card-footer> </mat-card-footer>
      </mat-card>
    </div>
    <!-- RIGHT SIDE CONRTAINER -->
    <div class="rules-right-container rules-container">
      <mat-card class="card-container">
        <mat-card-header>
          <mat-card-title>Tvorba pravidel a úkolů od účastníků</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="card-text">
            Kdokoli, kdo je součástí této akce, může navrhnout nebo upravit
            pravidlo nebo úkol. Pokud toto pravidlo nebo úkol schválí
            nadpoloviční většina účastníků akce a alespoň dva organizátoři,
            stává se platným, jakmile je zavedeno do systému (musí být technicky
            možné zavést ho do systému v rozumném čase). Pokud není třeba
            zavedení do systému, ale jen “zveřejnění" (například nového úkolu
            mezi úkoly), stává se platným ihned.

            <br /><br />

            Schvalování i navrhování pravidla či úkolu se děje na komunitní
            stránce facebooku speciálně zřízené pro tuto akci. "Lajk" znamená
            schvalující hlas. Je také možné, aby hlasoval hromadně za celý tým
            jeden zástupce, který uvede název týmu a jména účastníků, kteří
            souhlasí.
            <br /><br />

            Toto pravidlo neruší pravidlo, že organizátoři mohou kdykoli
            změnit/vytvořit/zrušit libovolné pravidlo či úkol bez souhlasu
            účastníků a bez toho, aby o tom dali vědět. Pokud budeme měnit text
            na této stránce, slibujeme, že dáme vědět, není třeba být absolutně
            paranoidní, jen trochu.
          </p>
        </mat-card-content>
        <mat-card-footer> </mat-card-footer>
      </mat-card>
      <mat-card class="card-container">
        <mat-card-header>
          <mat-card-title>Komunikace s organizátory pomocí SMS</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="card-text">
            Primární telefonní číslo pro komunikaci s organizátory je
            <span class="bold-text">
              +420 702 203 406 (Petr Kus) záložní +420 731 275 237 (Johny -
              Honza Strapek), +420 720 521 694 (Dan Farkač), +420 775 893 636
              (Klára Čiháková)</span
            >
            a pak jakékoli jiné organizátorské (viz Lidé na akci). <br /><br />

            Každé telefonní číslo, které chce komunikovat s organizátory pomocí
            SMS, se musí "inicializovat". Buď jako osoba nebo jako komunikační
            číslo za celý tým

            <mat-divider class="divider"></mat-divider>
            Pro tým je třeba vyjmenovat všechny členy. Následuje příklad formátu
            dané inicializační SMS.
          </p>

          <div class="code-block">
            INIT OSOBA [JMENO STREDNI_JMENO PREZDIVKA PRIJMENI] <br />
            INIT TYM [JMENO TYMU]; [JMENO PRIJMENI CLENA 1]; [JMENO PRIJMENI
            CLENA 2];...
          </div>
          <mat-divider class="divider"></mat-divider>
          <p class="card-text">Tedy konkrétně pro jméno Petr Kus</p>
          <div class="code-block">INIT OSOBA PETR KUS</div>
          <mat-divider class="divider"></mat-divider>
          <p class="card-text">
            A pro tým Petr Kus, Jiřina Bohdalová, Indra Pták Ohnivák Mikeš
          </p>
          <div class="code-block">
            INIT TYM PETR KUS; JIRINA BOHDALOVA; INDRA PTAK OHNIVAK MIKES;
          </div>
          <div class="spacer"></div>
        </mat-card-content>
        <mat-card-footer> </mat-card-footer>
      </mat-card>
      <mat-card class="card-container">
        <mat-card-header>
          <mat-card-title>Zaznamenání času</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="card-text">
            "nouzové" Zaznamenání času. Prosíme nenadužívat zbytečně, povede to
            k delšímu čekání. A nejlépe vůbec nepoužívat.
          </p>
          <div class="code-block">
            LOG [PROME|PROTYM|PRONEKOHO|DAR]; [OSOBA]; [CAS v MINUTACH];
          </div>
          <mat-divider></mat-divider>
          <p class="card-text">Příklad: toto je logování 60 minut</p>
          <div class="code-block">LOG PROME;PETR KUS;60;</div>
          <div class="spacer"></div>
        </mat-card-content>
        <mat-card-footer> </mat-card-footer>
      </mat-card>
      <mat-card class="card-container">
        <mat-card-header>
          <mat-card-title>Poskytnuti informace</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="card-text">
            Pokud jen chcete poslat nepříliš důležitou informaci
          </p>
          <div class="code-block">INFO [INFORMACE]</div>
          <div class="spacer"></div>
        </mat-card-content>
        <mat-card-footer> </mat-card-footer>
      </mat-card>
      <mat-card class="card-container">
        <mat-card-header>
          <mat-card-title>Varování / výstraha</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="card-text">
            Pokud chcete organizátory před něčím varovat či poskytnout důležité
            varování pro ostatní prostřednictvím organizátorů.
          </p>
          <div class="code-block">WARN [INFORMACE]</div>
          <div class="spacer"></div>
        </mat-card-content>
        <mat-card-footer> </mat-card-footer>
      </mat-card>
      <mat-card class="card-container">
        <mat-card-header>
          <mat-card-title>Poskytnuti vaší polohy</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="card-text">Pokud posíláte svoji polohu.</p>
          <div class="code-block">LOC [OSOBA|TYM] [popis polohy či gps]</div>
          <div class="spacer"></div>
        </mat-card-content>
        <mat-card-footer> </mat-card-footer>
      </mat-card>
      <mat-card class="card-container">
        <mat-card-header>
          <mat-card-title>Report problému</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="card-text">Report technického nebo jiného problému.</p>
          <div class="code-block">ERROR [popis problému]</div>
          <div class="spacer"></div>
        </mat-card-content>
        <mat-card-footer> </mat-card-footer>
      </mat-card>
      <mat-card class="card-container">
        <mat-card-header>
          <mat-card-title>Žádost o pomoc</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="card-text">
            Tuto zprávu doufáme, že vůbec nedostaneme. Pokud půjde opravdu do
            tuhého, samozřejmě rovnou volejte.
            <br /><br />
            Prosím toto používejte opravdu jen v případě, že cítíte, že jste v
            nouzi. Ohrožení na zdraví například. Pro ostatní postačí WARN.
          </p>
          <div class="code-block">HELP [popis]</div>
          <div class="spacer"></div>
        </mat-card-content>
        <mat-card-footer> </mat-card-footer>
      </mat-card>
      <mat-card class="card-container">
        <mat-card-header>
          <mat-card-title>Pohyb v přírodě</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="card-text">
            Vnějším ohrožením jsou klíšťata. Pro minimalizaci rizika přenosu
            nebezpečných chorob klíšťové encefalitidy a lymské boreliózy je
            třeba vytáhnout klíště co nejdříve (do jednotek hodin) a ránu
            vydesinfikovat. Tak se nestyďte pořádně prohlédnout, obzvláště pokud
            jste leželi v trávě atp., zdraví za to stojí. Pinzetu i dezinfekci
            najdete lékárničce. Dobrou prevencí je dlouhé oblečení. Na odpuzení
            klíšťat zabírají některé ze skupiny vitamínů B. B-komplex je v
            lékárničce také, ale funguje až po delším užívání.
            <br /><br />
            Další věcí, se kterou je třeba na začátku května počítat, je májové
            počasí. Může nás stále překvapit zima, déšť či jasná chladná noc.
          </p>
        </mat-card-content>
        <mat-card-footer> </mat-card-footer>
      </mat-card>
      <mat-card class="card-container">
        <mat-card-header>
          <mat-card-title class="last-header"
            >PRVNÍ ÚKOL ZA TEBOU</mat-card-title
          >
        </mat-card-header>
        <mat-card-content>
          <p class="card-text">
            Pokud jsi právě poprvé přečetl pozorně celá tato pravidla, což
            odhadujeme přibližně na 30 minut času, dostal jsi nyní jednorázově
            45 minut. Dané minuty můžeš připsat do systému. Pod koho je napíšeš,
            už je na tobě. Připsáním zároveň potvrzuješ přečtení pravidel.
            Doporučujeme si je vytisknout, opsat důležité části nebo si je vzít
            s sebou v digitální podobě.
          </p>
        </mat-card-content>
        <mat-card-footer> </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
