.page-content-container {
  display: flex;
  flex-direction: column;
}

.rules-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
  gap: 10px;
}

.rules-wrapper {
  display: flex;
  gap: 20px;

  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
}

.card-text {
  padding: 10px;
  font-size: 18px;
  letter-spacing: 0.5px;

  .bold-text {
    color: #f07832;
  }

  .router-link {
    cursor: pointer;
    color: #afcd32;
  }
}

.sub-header {
  font-size: 24px;
  color: #afcd32;
  margin-top: 10px;
}

.code-block {
  padding: 10px;
  font-family: monospace;
  background-color: #303030;
  border-radius: 4px;
}

.mat-mdc-card-title {
  color: #f07832;
}

.last-header {
  color: #afcd32;
}

.divider {
  margin: 20px;
}

.spacer {
  margin-top: 10px;
}
