<div class="home-container">
  <p class="home-default">Závěrečná zážitkovka OHB 2022/2023</p>
  <h2 class="digital">[BEZJMENA]</h2>
  <div class="timer digital" *ngIf="timeLeft$ | async as t; else sorry">
    <span class="countdown"> {{ t.daysToDday }} </span>:
    <span class="countdown"> {{ t.hoursToDday }} </span>:
    <span class="countdown"> {{ t.minutesToDday }} </span>:
    <span class="countdown"> {{ t.secondsToDday }} </span>:
    <span class="countdown"> {{ t.milisecondsToDday }} </span>
  </div>

  <ng-template #sorry> Sorry, something went wrong... </ng-template>
</div>
