<div class="app-container">
  <mat-toolbar color="primary">
    <button (click)="sidenav.toggle()" mat-icon-button class="menu-icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="noname-toolbar">[BEZJMENA]</span>
  </mat-toolbar>
  <mat-sidenav-container class="main-container" hasBackdrop="false">
    <mat-sidenav class="sidenav-container" #sidenav mode="over">
      <div class="sidenav-buttons" *ngFor="let button of sidnavButtons">
        {{ button.title }}
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="app-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <div class="footer">
    <img class="footer-logo" src="assets/images/loho-hb.png" alt="Sorry" />
    <div class="footer-text-container">
      <div>
        To nejcenější co máme je náš životní čas, jak ho využiješ je na Tobě.
      </div>
      <div class="divider"></div>
      <div>Kolik do toho dáš, tolik se ti vrátí</div>
    </div>
  </div>
</div>
